ws_proxy_enabled = true
http_access_control_enabled = true
ws_access_control_enabled = false
stream_access_control_enabled = true
allow_all_lan = true
auto_start = true
show_realtime_logs = false
realtime_logs_only_errors = false
stream_proxy = false
max_body_size = 10485760
max_response_body_size = 10485760
upstream_connect_timeout_ms = 5000
upstream_read_timeout_ms = 30000
upstream_pool_max_idle = 100
upstream_pool_idle_timeout_sec = 60
enable_http2 = false

[[rules]]
id = "7d401c55-327d-4a88-956b-b751d8f66f25"
enabled = true
listen_addr = ":8888"
ssl_enable = true
cert_file = "/home/fhy/mygo/SSLProxyGui/ssl/cdc-report/server.crt"
key_file = "/home/fhy/mygo/SSLProxyGui/ssl/cdc-report/server.key"
basic_auth_enable = true
basic_auth_username = "fhy"
basic_auth_password = "666999"
basic_auth_forward_header = false

[[rules.routes]]
id = "82b402ad-70de-4122-ace8-8b206aa3de3f"
enabled = true
path = "/"
exclude_basic_auth = false
follow_redirects = true

[rules.routes.set_headers]

[[rules.routes.upstreams]]
url = "https://baidu.com"
weight = 1

[[rules]]
id = "be84e732-15e3-439a-964c-226c00ebb0bb"
enabled = true
listen_addrs = [
    ":8888",
    ":8889",
]
ssl_enable = true
cert_file = "/home/fhy/software/frp_0.65.0_linux_amd64/ssl/bt.aiti.fun/fullchain.crt"
key_file = "/home/fhy/software/frp_0.65.0_linux_amd64/ssl/bt.aiti.fun/privkey.key"
basic_auth_enable = true
basic_auth_username = "test1"
basic_auth_password = "666999"
basic_auth_forward_header = false

[[rules.routes]]
id = "dd868e44ef864cde13d42158232bf6d5"
enabled = true
path = "/"
static_dir = "/home/fhy/mygo/staticServer/dist"
exclude_basic_auth = false
follow_redirects = false
upstreams = []

[rules.routes.set_headers]

[[rules.routes]]
id = "8fc2aaf7f5d4fa2559e14296b61b2aca"
enabled = true
path = "/prod-api"
proxy_pass_path = "/"
exclude_basic_auth = true
follow_redirects = false

[rules.routes.set_headers]

[[rules.routes.upstreams]]
url = "http://127.0.0.1:8080"
weight = 1

[[ws_proxy]]
enabled = true
listen_addrs = [
    "0.0.0.0:8800"
]
ssl_enable = false
cert_file = "/home/fhy/mygo/SSLproxy/ssl/cdc-report/server.crt"
key_file = "/home/fhy/mygo/SSLproxy/ssl/cdc-report/server.key"

[[ws_proxy.routes]]
path = "/ws"
upstream_url = "ws://124.222.6.60:8800"

[stream]
enabled = false
upstreams = []

[[stream.servers]]
enabled = true
listen_port = 50002
proxy_pass = "sendimage"
proxy_connect_timeout = "300s"
proxy_timeout = "600s"
udp = false

[[whitelist]]
ip = "127.0.0.1"

[metrics_storage]
enabled = true
db_path = "/home/fhy/db/metrics/metrics.db"

[update]
enabled = true
server_url = ""
auto_check = true
timeout_ms = 10000
ignore_prerelease = true
