ws_proxy_enabled = true
http_access_control_enabled = true
ws_access_control_enabled = true
stream_access_control_enabled = true
allow_all_lan = true
allow_all_ip = false
whitelist = []
auto_start = false
show_realtime_logs = true
realtime_logs_only_errors = false
stream_proxy = true
max_body_size = 10485760
max_response_body_size = 10485760
upstream_connect_timeout_ms = 5000
upstream_read_timeout_ms = 30000
upstream_pool_max_idle = 100
upstream_pool_idle_timeout_sec = 60
enable_http2 = true
compression_enabled = false
compression_gzip = true
compression_brotli = true
compression_min_length = 1024
compression_gzip_level = 6
compression_brotli_level = 6
system_metrics_sample_interval_secs = 10
system_metrics_persistence_enabled = true

[[rules]]
id = "eabe2e9a-5b34-4ee6-a5c9-f8a020e67a62"
enabled = true
listen_addr = "0.0.0.0:8888"
listen_addrs = ["0.0.0.0:8888"]
ssl_enable = false
cert_file = ""
key_file = ""
basic_auth_enable = false
basic_auth_username = ""
basic_auth_password = ""
basic_auth_forward_header = false
rate_limit_window_seconds = 1

[[rules.routes]]
id = "3df9f390-852e-4a20-8eff-2ae6ded3822c"
enabled = true
path = "/"
exclude_basic_auth = false
follow_redirects = false
url_rewrite_rules = []
request_body_replace = []
response_body_replace = []
remove_headers = []

[rules.routes.set_headers]

[[rules.routes.upstreams]]
url = "http://baidu.com"
weight = 1

[[ws_proxy]]
enabled = false
listen_addr = "0.0.0.0:9001"
ssl_enable = false
cert_file = ""
key_file = ""

[[ws_proxy.routes]]
path = "/ws"
upstream_url = "ws://127.0.0.1:9000"

[stream]
enabled = false
upstreams = []
servers = []

[metrics_storage]
enabled = false
db_path = ""

[update]
enabled = false
server_url = ""
auto_check = false
timeout_ms = 10000
ignore_prerelease = true

[alerting]
enabled = false

[alerting.webhook]
enabled = false
provider = "wecom"
url = ""
system_report_enabled = false
quiet_hours_enabled = false
quiet_hours_start = "23:00"
quiet_hours_end = "08:00"
system_report_interval_minutes = 60
system_report_weekdays = [
    1,
    2,
    3,
    4,
    5,
    6,
    7,
]

[alerting.rules]
server_start_error = true
